<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<mvc:annotation-driven />
	
	<mvc:resources location="/WEB-INF/static/" mapping="/static/**" />
	
	<!-- 스프링 유효성검사 NotEmpty -->
	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean" />

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/view/" />
		<property name="suffix" value=".jsp" />
	</bean>	
	
	<bean id="communityController"
		  class="com.opentutorial.community.web.CommunityController"></bean>
		  
	<bean id="memberController"
		  class="com.opentutorial.member.web.MemberController">
		<property name="memberService" ref="memberService"/>	  
	</bean>
		  		  
	<bean id="memberService"
		  class="com.opentutorial.member.service.MemberServiceImpl">
		<property name="memberDao" ref="memberDaoForOracle"/>
	</bean>
		  
	<!-- 디비연결 -->
	<bean id="memberDaoForOracle" class="com.opentutorial.member.dao.MemberDaoImplForOracle">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"></property>
	</bean>

</beans>
